body{
background-color: blueviolet;
}
#wordSearchContainer {
display: grid;
grid-template-columns: repeat(10, 1fr);
gap: 5px;
max-width: 500px;
margin:0 auto;
}
#wordSearchContainer div {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    cursor: pointer;
}
#wordSearchContainer div.selected{
    background-color: chartreuse;
}
.selected{
    background-color: coral;
}
.found{
    background-color: hotpink;
}
.wordsList{
    margin: 20px auto;
    max-width: 90vw;
    padding: 10px;
    background-color:hotpink;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0,0,0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wordsList div{
    padding: 8px 16px;
    margin: 5px;
    background-color:burlywood;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
}
.wordsList div.found::after{
    content:'✅';
    color: green;
}
.wordsList div.found{
    background-color:turquoise;
    text-decoration: none;
}