* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background: url('escritorio.jpg') no-repeat;
    background-size: cover;
    font-family: 'Century Gothic', sans-serif;
}

.box {
    width: 1100px;
    background: #00000087;
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    color:white;
    text-align: center;
    border-radius: 15px;
}

.box-img {
  border-radius: 50%;
  width: 200px; 
  height: 200px;
  }
  
  .box h1 {
    font-weight: bold;
   color:rgb(255, 115, 173);
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
    font-weight: bold;
  }
  
  .box h3 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 100;
    margin-bottom: 20px;
  }
.box p{
text-align: justify;
font-size: 20px;
}